div{
    height: 300px;
    width: 480px;
    background-color: mediumslateblue;
    border-radius: 25px;
    justify-items: center;
}
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    justify-items: center;
    position: relative;
    top: 230px;
}
div input{
    height: 60px;
    width: 250px;
    border-radius: 25px;
    border: none;
    text-align: center;
}
div button{
    position: relative;
    top: 30px;
    left: 80px;
}
div h2{
    position: relative;
    top: 40px;
}