#input{
    height: 35px;
    border-radius: 25px;  
    border: none;
}
*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
div{
    background-color: chocolate;
    min-height: 150px;
    max-height: fit-content;
    width: 300px;
    justify-items: center;
    border-radius: 25px;
}
div button{
    background-color: red;
    border: none;
    border-radius: 100%;
}
body{
    justify-items: center;
}